Repository XRPLF/xrpl-go, pull requests merged in 2024-10, with the labels that each got.

#30 [TA-3386]: NewWalletFromMnemonic
  .github/workflows/xrpl-go-ci.yml
  Makefile
  address-codec/address_codec.go
  examples/wallet/generate_wallet_and_sign_tx.go
  go.mod
  go.sum
  keypairs/keypairs.go
  xrpl/wallet.go
  xrpl/wallet_test.go
  xrpl/websocket/client_test.go
Labels: pkg:xrpl, pkg:address-codec, pkg:keypairs

#33 [TA-3411]: Update json-rpc client calls
  examples/rpc/queries/main.go
  xrpl/rpc/client.go
  xrpl/rpc/queries.go
  xrpl/websocket/queries.go
  xrpl/websocket/queries_test.go
Labels: pkg:xrpl

#37 [TA-3400]: XChainBridge type
  binary-codec/types/errors/json.go
  binary-codec/types/serialized_type.go
  binary-codec/types/xchain_bridge.go
  binary-codec/types/xchain_bridge_test.go
  coverage.html
Labels: pkg:binary-codec

#38 [TA-3488]: Issue type
  binary-codec/types/issue.go
  binary-codec/types/issue_test.go
  binary-codec/types/serialized_type.go
  coverage.html
Labels: pkg:binary-codec

#39 [TA-3489]: Add Bridge, XChainOwnedClaimID, XChainOwnedCreateAccountClaimID, DID and Oracle ledger entry types
  Makefile
  coverage.html
  xrpl/ledger-entry-types/bridge.go
  xrpl/ledger-entry-types/bridge_test.go
  xrpl/ledger-entry-types/did.go
  xrpl/ledger-entry-types/did_test.go
  xrpl/ledger-entry-types/ledger_object.go
  xrpl/ledger-entry-types/oracle.go
  xrpl/ledger-entry-types/oracle_test.go
  xrpl/ledger-entry-types/xchain_owned_claim_id.go
  xrpl/ledger-entry-types/xchain_owned_claim_id_test.go
  xrpl/ledger-entry-types/xchain_owned_create_account_claim_id.go
  xrpl/ledger-entry-types/xchain_owned_create_account_claim_id_test.go
  xrpl/transaction/types/xchain_bridge.go
Labels: pkg:xrpl

#35 AMMBid transaction
  coverage.html
  xrpl/ledger-entry-types/amm.go
  xrpl/ledger-entry-types/amm_test.go
  xrpl/transaction/amm_bid.go
  xrpl/transaction/amm_bid_test.go
  xrpl/transaction/validations_xrpl_objects.go
  xrpl/transaction/validations_xrpl_objects_test.go
Labels: pkg:xrpl

#41 AMMDeposit
  coverage.html
  xrpl/transaction/amm_deposit.go
  xrpl/transaction/amm_deposit_test.go
  xrpl/transaction/validations_xrpl_objects.go
  xrpl/transaction/validations_xrpl_objects_test.go
Labels: pkg:xrpl

#42 AMMVote
  coverage.html
  xrpl/transaction/amm_vote.go
  xrpl/transaction/amm_vote_test.go
Labels: pkg:xrpl

#43 AMMWithdraw
  coverage.html
  xrpl/currency/native.go
  xrpl/transaction/amm_bid.go
  xrpl/transaction/amm_common.go
  xrpl/transaction/amm_create.go
  xrpl/transaction/amm_deposit.go
  xrpl/transaction/amm_withdraw.go
  xrpl/transaction/amm_withdraw_test.go
  xrpl/transaction/payment.go
  xrpl/transaction/trust_set.go
  xrpl/transaction/types/currency_amount.go
  xrpl/transaction/types/currency_amount_test.go
  xrpl/transaction/validations_xrpl_objects.go
Labels: pkg:xrpl

#36 [TA-3399]: Update definitions
  Makefile
  binary-codec/definitions/definitions.json
  binary-codec/mockgen.sh
  binary-codec/st_array_test.go
  binary-codec/types/account_id.go
  binary-codec/types/account_id_test.go
  binary-codec/types/amount.go
  binary-codec/types/blob.go
  binary-codec/types/blob_test.go
  binary-codec/types/errors/json.go
  binary-codec/types/hash.go
  binary-codec/types/hash128_test.go
  binary-codec/types/hash160_test.go
  binary-codec/types/hash256_test.go
  binary-codec/types/hash_test.go
  binary-codec/types/interfaces/binary_parser.go
  binary-codec/types/issue.go
  binary-codec/types/issue_test.go
  binary-codec/types/pathset.go
  binary-codec/types/serialized_type.go
  binary-codec/types/st_array.go
  binary-codec/types/st_array_test.go
  binary-codec/types/st_object.go
  binary-codec/types/testutil/binary_parser_mock.go
  binary-codec/types/uint16.go
  binary-codec/types/uint16_test.go
  binary-codec/types/uint32.go
  binary-codec/types/uint32_test.go
  binary-codec/types/uint64.go
  binary-codec/types/uint64_test.go
  binary-codec/types/uint8.go
  binary-codec/types/uint8_test.go
  binary-codec/types/vector256.go
  binary-codec/types/xchain_bridge.go
  binary-codec/types/xchain_bridge_test.go
  coverage.html
  examples/rpc/queries/main.go
  go.mod
  go.sum
  xrpl/ledger-entry-types/bridge.go
  xrpl/ledger-entry-types/bridge_test.go
  xrpl/ledger-entry-types/did.go
  xrpl/ledger-entry-types/did_test.go
  xrpl/ledger-entry-types/ledger_object.go
  xrpl/ledger-entry-types/oracle.go
  xrpl/ledger-entry-types/oracle_test.go
  xrpl/ledger-entry-types/xchain_owned_claim_id.go
  xrpl/ledger-entry-types/xchain_owned_claim_id_test.go
  xrpl/ledger-entry-types/xchain_owned_create_account_claim_id.go
  xrpl/ledger-entry-types/xchain_owned_create_account_claim_id_test.go
  xrpl/transaction/types/xchain_bridge.go
Labels: pkg:binary-codec
