Repository XRPLF/xrpl-go, pull requests merged in 2024-11, with the labels that each got.

#54 [TA-3491]: Add serdes testing coverage
  binary-codec/definitions/field_instance.go
  binary-codec/main.go
  binary-codec/mockgen.sh
  binary-codec/serdes/binary_parser.go
  binary-codec/serdes/binary_parser_test.go
  binary-codec/serdes/binary_serializer.go
  binary-codec/serdes/binary_serializer_test.go
  binary-codec/serdes/field_id_codec.go
  binary-codec/serdes/field_id_codec_benchmark_test.go
  binary-codec/serdes/field_id_codec_test.go
  binary-codec/serdes/interfaces/definitions.go
  binary-codec/serdes/interfaces/field_id_codec.go
  binary-codec/serdes/testutil/definitions_mock.go
  binary-codec/serdes/testutil/field_id_codec_mock.go
  binary-codec/types/interfaces/binary_serializer.go
  binary-codec/types/pathset_test.go
  binary-codec/types/serialized_type.go
  binary-codec/types/st_array.go
  binary-codec/types/st_array_test.go
  binary-codec/types/st_object.go
  binary-codec/types/uint16_test.go
  binary-codec/types/uint32_test.go
  binary-codec/types/uint64_test.go
  binary-codec/types/uint8_test.go
  coverage.html
Labels: pkg:binary-codec

#55 [TA-3468]: Add definitions testing coverage
  Makefile
  binary-codec/definitions/definitions.go
  binary-codec/definitions/definitions_test.go
  binary-codec/definitions/field_instance.go
  binary-codec/definitions/field_instance_test.go
  binary-codec/definitions/init.go
  coverage.html
Labels: pkg:binary-codec

#51 [TA-3467]: Upgrade binary-codec/types test coverage
  binary-codec/types/amount_test.go
  binary-codec/types/pathset_test.go
  binary-codec/types/serialized_type_test.go
  binary-codec/types/st_array_test.go
  binary-codec/types/st_object_test.go
  binary-codec/types/testutil/helpers.go
  binary-codec/types/uint16.go
  binary-codec/types/uint16_test.go
  binary-codec/types/uint32_test.go
  binary-codec/types/uint64.go
  binary-codec/types/uint64_test.go
  binary-codec/types/uint8_test.go
  binary-codec/types/vector256.go
  binary-codec/types/vector256_test.go
  coverage.html
Labels: pkg:binary-codec

#56 Time Conversion
  coverage.html
  xrpl/time.go
  xrpl/time_test.go
Labels: pkg:xrpl

#47 Tx.go updates / simplify Validate func
  coverage.html
  pkg/typecheck/typecheck.go
  pkg/typecheck/typecheck_test.go
  xrpl/transaction/account_delete_test.go
  xrpl/transaction/account_set_test.go
  xrpl/transaction/amm_bid_test.go
  xrpl/transaction/check_cancel_test.go
  xrpl/transaction/check_cash.go
  xrpl/transaction/check_cash_test.go
  xrpl/transaction/check_create.go
  xrpl/transaction/check_create_test.go
  xrpl/transaction/clawback.go
  xrpl/transaction/clawback_test.go
  xrpl/transaction/deposit_preauth_test.go
  xrpl/transaction/escrow_cancel_test.go
  xrpl/transaction/escrow_create_test.go
  xrpl/transaction/escrow_finish_test.go
  xrpl/transaction/nftoken_accept_offer.go
  xrpl/transaction/nftoken_accept_offer_test.go
  xrpl/transaction/nftoken_burn_test.go
  xrpl/transaction/nftoken_cancel_offer_test.go
  xrpl/transaction/nftoken_create_offer.go
  xrpl/transaction/nftoken_create_offer_test.go
  xrpl/transaction/nftoken_mint_test.go
  xrpl/transaction/payment.go
  xrpl/transaction/payment_channel_claim_test.go
  xrpl/transaction/payment_channel_create_test.go
  xrpl/transaction/payment_channel_fund_test.go
  xrpl/transaction/payment_test.go
  xrpl/transaction/set_regular_key_test.go
  xrpl/transaction/signer_list_set_test.go
  xrpl/transaction/ticket_create_test.go
  xrpl/transaction/trust_set.go
  xrpl/transaction/trust_set_test.go
  xrpl/transaction/tx.go
  xrpl/transaction/tx_test.go
Labels: pkg:xrpl

#49 EscrowCreate, EscrowFinish and EscrowCancel
  Makefile
  coverage.html
  xrpl/transaction/escrow_cancel.go
  xrpl/transaction/escrow_cancel_test.go
  xrpl/transaction/escrow_create.go
  xrpl/transaction/escrow_create_test.go
  xrpl/transaction/escrow_finish.go
  xrpl/transaction/escrow_finish_test.go
Labels: pkg:xrpl

#50 SignerListSet and SetRegularKey
  coverage.html
  pkg/typecheck/typecheck_test.go
  xrpl/ledger-entry-types/signer_list.go
  xrpl/ledger-entry-types/signer_list_test.go
  xrpl/transaction/set_regular_key.go
  xrpl/transaction/set_regular_key_test.go
  xrpl/transaction/signer_list_set.go
  xrpl/transaction/signer_list_set_test.go
Labels: pkg:xrpl

#58 [TA-3401]: Refactor package export
  binary-codec/README.md
  binary-codec/ledger_data.go
  binary-codec/main.go
  binary-codec/main_test.go
  binary-codec/quality.go
  binary-codec/quality_test.go
  binary-codec/testutil/mockgen.sh
  binary-codec/types/account_id_test.go
  binary-codec/types/blob_test.go
  binary-codec/types/errors.go
  binary-codec/types/errors/json.go
  binary-codec/types/hash_test.go
  binary-codec/types/issue_test.go
  binary-codec/types/st_object.go
  binary-codec/types/st_object_test.go
  binary-codec/types/xchain_bridge.go
  binary-codec/types/xchain_bridge_test.go
  coverage.html
  go.mod
Labels: pkg:binary-codec

#61 [TA-3573]: Keypairs test coverage
  address-codec/address_codec.go
  coverage.html
  keypairs/crypto.go
  keypairs/crypto_test.go
  keypairs/interfaces/crypto.go
  keypairs/interfaces/random.go
  keypairs/keypairs.go
  keypairs/keypairs_test.go
  keypairs/mockgen.sh
  keypairs/testutil/random_mock.go
  pkg/random/main.go
  pkg/random/main_test.go
  xrpl/wallet.go
Labels: pkg:xrpl, pkg:address-codec, pkg:keypairs

#62 [TA-3465]: Add package reference
  keypairs/crypto.go
  keypairs/keypairs.go
  keypairs/testutil/mockgen.sh
Labels: pkg:keypairs

#60 NFT transaction types
  coverage.html
  xrpl/transaction/errors.go
  xrpl/transaction/nftoken_accept_offer.go
  xrpl/transaction/nftoken_accept_offer_test.go
  xrpl/transaction/nftoken_burn.go
  xrpl/transaction/nftoken_burn_test.go
  xrpl/transaction/nftoken_cancel_offer.go
  xrpl/transaction/nftoken_cancel_offer_test.go
  xrpl/transaction/nftoken_create_offer.go
  xrpl/transaction/nftoken_create_offer_test.go
  xrpl/transaction/nftoken_mint.go
  xrpl/transaction/nftoken_mint_test.go
  xrpl/transaction/tx.go
  xrpl/transaction/types/nftoken_id.go
  xrpl/transaction/types/nftoken_id_test.go
  xrpl/transaction/types/nftoken_uri.go
  xrpl/transaction/types/nftoken_uri_test.go
Labels: pkg:xrpl

#65 [TA-3576]: address-codec testing coverage
  address-codec/base58_test.go
  address-codec/base58check_test.go
  address-codec/codec.go
  address-codec/codec_test.go
  binary-codec/types/account_id.go
  binary-codec/types/amount.go
  binary-codec/types/issue.go
  binary-codec/types/pathset.go
  binary-codec/types/xchain_bridge.go
  coverage.html
Labels: address-codec

#68 [TA-3575]: add testing coverage for crypto package
  coverage.html
  pkg/crypto/der.go
  pkg/crypto/der_test.go
  pkg/crypto/ed25519.go
  pkg/crypto/ed25519_test.go
  pkg/crypto/secp256k1.go
  pkg/crypto/secp256k1_test.go
  pkg/crypto/types.go
Labels: pkg:crypto

#64 Payment channel transaction types
  coverage.html
  xrpl/transaction/errors.go
  xrpl/transaction/payment_channel_claim.go
  xrpl/transaction/payment_channel_claim_test.go
  xrpl/transaction/payment_channel_create.go
  xrpl/transaction/payment_channel_create_test.go
  xrpl/transaction/payment_channel_fund.go
  xrpl/transaction/payment_channel_fund_test.go
Labels: xrpl

#67 Payment transaction updates
  coverage.html
  xrpl/transaction/errors.go
  xrpl/transaction/nftoken_mint.go
  xrpl/transaction/nftoken_mint_test.go
  xrpl/transaction/payment.go
  xrpl/transaction/payment_test.go
  xrpl/transaction/validations_xrpl_objects.go
Labels: xrpl

#66 [TA-3405]: Add node address derivation
  address-codec/codec.go
  address-codec/codec_test.go
  coverage.html
  keypairs/crypto.go
  keypairs/crypto_test.go
  keypairs/interfaces/crypto.go
  keypairs/keypairs.go
  keypairs/keypairs_test.go
  pkg/crypto/der.go
  pkg/crypto/der_test.go
  pkg/crypto/ed25519.go
  pkg/crypto/ed25519_test.go
  pkg/crypto/secp256k1.go
  pkg/crypto/secp256k1_test.go
  pkg/crypto/types.go
Labels: keypairs

#71 [TA-3473]: Add cross-chain transactions
  coverage.html
  pkg/random/main_test.go
  xrpl/transaction/payment_channel_create_test.go
  xrpl/transaction/tx_type.go
  xrpl/transaction/types/xchain_bridge.go
  xrpl/transaction/xchain_account_create_commit.go
  xrpl/transaction/xchain_account_create_commit_test.go
  xrpl/transaction/xchain_add_account_create_attestation.go
  xrpl/transaction/xchain_add_account_create_attestation_test.go
  xrpl/transaction/xchain_add_claim_attestation.go
  xrpl/transaction/xchain_add_claim_attestation_test.go
  xrpl/transaction/xchain_claim.go
  xrpl/transaction/xchain_claim_test.go
  xrpl/transaction/xchain_commit.go
  xrpl/transaction/xchain_commit_test.go
  xrpl/transaction/xchain_create_bridge.go
  xrpl/transaction/xchain_create_bridge_test.go
  xrpl/transaction/xchain_create_claim_id.go
  xrpl/transaction/xchain_create_claim_id_test.go
  xrpl/transaction/xchain_modify_bridge.go
  xrpl/transaction/xchain_modify_bridge_test.go
Labels: xrpl

#70 [TA-3474]: Add DID transactions
  .gitignore
  coverage.html
  xrpl/transaction/did_delete.go
  xrpl/transaction/did_delete_test.go
  xrpl/transaction/did_set.go
  xrpl/transaction/did_set_test.go
  xrpl/transaction/tx_type.go
Labels: xrpl

#69 [TA-3475]: Add Oracle transactions
  xrpl/ledger-entry-types/oracle.go
  xrpl/ledger-entry-types/oracle_test.go
  xrpl/transaction/oracle_delete.go
  xrpl/transaction/oracle_delete_test.go
  xrpl/transaction/oracle_set.go
  xrpl/transaction/oracle_set_test.go
  xrpl/transaction/tx_type.go
Labels: xrpl

#63 [TA-3403][TA-3404]: Add X-Addresses codec support
  address-codec/alphabet_gen.go
  address-codec/base58_test.go
  address-codec/base58check_test.go
  address-codec/codec.go
  address-codec/codec_test.go
  address-codec/interfaces/crypto.go
  address-codec/sha256.go
  address-codec/x_codec.go
  address-codec/x_codec_test.go
  binary-codec/types/account_id.go
  binary-codec/types/account_id_test.go
  binary-codec/types/amount.go
  binary-codec/types/amount_test.go
  binary-codec/types/issue.go
  binary-codec/types/issue_test.go
  binary-codec/types/pathset.go
  binary-codec/types/xchain_bridge.go
  go.mod
  go.sum
  keypairs/crypto.go
  keypairs/crypto_test.go
  keypairs/interfaces/crypto.go
  keypairs/keypairs.go
  keypairs/keypairs_test.go
  pkg/crypto/der.go
  pkg/crypto/der_test.go
  pkg/crypto/ed25519.go
  pkg/crypto/ed25519_test.go
  pkg/crypto/secp256k1.go
  pkg/crypto/secp256k1_test.go
  pkg/crypto/types.go
  xrpl/interfaces/crypto.go
  xrpl/wallet.go
Labels: xrpl, address-codec, binary-codec

#73 [TA-3558]: Update DirectoryNode ledger entry type fields
  address-codec/base58_test.go
  address-codec/codec_test.go
  xrpl/ledger-entry-types/directory_node.go
  xrpl/ledger-entry-types/directory_node_test.go
Labels: xrpl, address-codec
