Repository XRPLF/xrpl-go, pull requests merged in 2025-02, with the labels that each got.

#97 [TA-3977]: gateway_balances request
  CHANGELOG.md
  xrpl/queries/account/gateway_balances.go
  xrpl/queries/account/gateway_balances_test.go
  xrpl/rpc/queries.go
  xrpl/rpc/queries_test.go
  xrpl/websocket/queries.go
  xrpl/websocket/queries_test.go
Labels: feature, xrpl

#98 [TA-3978]: get_aggregate_price request
  CHANGELOG.md
  xrpl/queries/account/gateway_balances.go
  xrpl/queries/account/gateway_balances_test.go
  xrpl/queries/oracle/get_aggregate_price.go
  xrpl/queries/oracle/get_aggregate_price_test.go
  xrpl/queries/oracle/types/oracle.go
  xrpl/queries/oracle/types/set.go
  xrpl/rpc/queries.go
  xrpl/rpc/queries_test.go
  xrpl/websocket/queries.go
  xrpl/websocket/queries_test.go
Labels: feature, xrpl

#99 [TA-4001]: Docusaurus base project
  docs/.gitignore
  docs/.nvmrc
  docs/README.md
  docs/docs/intro.md
  docs/docs/packages/_category_.json
  docs/docs/packages/address-codec.md
  docs/docs/packages/binary-codec.md
  docs/docs/packages/keypairs.md
  docs/docs/packages/xrpl.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/favicon.ico
  docs/static/img/xrpl-logo.png
  docs/tsconfig.json
Labels: docs

#101 feat(xrpl): implement XLS-77d
  xrpl/ledger-entry-types/ripple_state.go
  xrpl/ledger-entry-types/ripple_state_test.go
  xrpl/queries/account/gateway_balances_test.go
  xrpl/transaction/trust_set.go
  xrpl/transaction/trust_set_test.go
Labels: feature, xrpl

#100 Allows some fields to be set to an empty string "" or 0
  CHANGELOG.md
  examples/clawback/rpc/main.go
  examples/clawback/ws/main.go
  examples/multisigning/rpc/main.go
  examples/multisigning/ws/main.go
  examples/token-issuance/rpc/main.go
  examples/token-issuance/ws/main.go
  xrpl/transaction/account_set.go
  xrpl/transaction/account_set_test.go
  xrpl/transaction/check_create.go
  xrpl/transaction/check_create_test.go
  xrpl/transaction/escrow_create.go
  xrpl/transaction/escrow_create_test.go
  xrpl/transaction/payment.go
  xrpl/transaction/payment_channel_create.go
  xrpl/transaction/payment_channel_create_test.go
  xrpl/transaction/payment_test.go
  xrpl/transaction/types/destination_tag.go
  xrpl/transaction/types/destination_tag_test.go
  xrpl/transaction/types/domain.go
  xrpl/transaction/types/domain_test.go
  xrpl/transaction/types/email_hash.go
  xrpl/transaction/types/email_hash_test.go
  xrpl/transaction/types/message_key.go
  xrpl/transaction/types/message_key_test.go
  xrpl/transaction/types/nftoken_minter.go
  xrpl/transaction/types/nftoken_minter_test.go
  xrpl/transaction/types/ticksize.go
  xrpl/transaction/types/ticksize_test.go
  xrpl/transaction/types/transfer_rate.go
  xrpl/transaction/types/transfer_rate_test.go
  xrpl/transaction/types/wallet_locator.go
  xrpl/transaction/types/wallet_locator_test.go
  xrpl/transaction/types/wallet_size.go
  xrpl/transaction/types/wallet_size_test.go
  xrpl/transaction/xchain_claim.go
  xrpl/transaction/xchain_claim_test.go
Labels: bug, xrpl

#104 fix(xrpl): account_tx transactions json field
  CHANGELOG.md
  examples/queries/account-tx/rpc/main.go
  examples/queries/account-tx/ws/main.go
  xrpl/queries/account/transactions.go
  xrpl/queries/account/transactions_test.go
  xrpl/rpc/queries_test.go
  xrpl/websocket/queries_test.go
Labels: bug, xrpl

#102 [TA-3577]: keypairs package documentation
  docs/docs/installation.md
  docs/docs/intro.md
  docs/docs/packages/keypairs.md
Labels: keypairs, docs

#103 [TA-3466]: xrpl package documentation
  docs/docs/address-codec.md
  docs/docs/binary-codec.md
  docs/docs/keypairs.md
  docs/docs/packages/_category_.json
  docs/docs/packages/address-codec.md
  docs/docs/packages/binary-codec.md
  docs/docs/xrpl/_category_.json
  docs/docs/xrpl/currency.md
  docs/docs/xrpl/faucet.md
  docs/docs/xrpl/hash.md
  docs/docs/xrpl/ledger-entry-types.md
  docs/docs/xrpl/queries.md
  docs/docs/xrpl/rpc.md
  docs/docs/xrpl/time.md
  docs/docs/xrpl/transaction.md
  docs/docs/xrpl/wallet.md
  docs/docs/xrpl/websocket.md
Labels: xrpl, docs

#108 [TA-4070]: integration setup
  .ci-config/rippled.cfg
  Makefile
  xrpl/multisign.go
  xrpl/rpc/client.go
  xrpl/testutil/integration/config.go
  xrpl/testutil/integration/env.go
  xrpl/testutil/integration/faucet.go
  xrpl/testutil/integration/flag.go
  xrpl/testutil/integration/interfaces.go
  xrpl/testutil/integration/runner.go
  xrpl/transaction/integration/payment_test.go
  xrpl/transaction/integration/types.go
  xrpl/websocket/client.go
Labels: feature, xrpl

#112 [TA-4069]: Style documentation
  docs/docs/address-codec.md
  docs/docs/binary-codec.md
  docs/docs/installation.md
  docs/docs/intro.md
  docs/docs/keypairs.md
  docs/docs/xrpl/wallet.md
  docs/docs/xrpl/websocket.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/HeroSection/index.tsx
  docs/src/components/HeroSection/styles.module.css
  docs/src/components/LinkButton/index.tsx
  docs/src/components/LinkButton/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/src/theme/SearchBar.tsx
  docs/static/img/bg-bottom.png
  docs/static/img/bg-top.png
  docs/static/img/xrpl-go-logo.png
Labels: docs
