Repository XRPLF/xrpl-go, pull requests merged in 2025-03, with the labels that each got.

#115 [TA-4187]: Get balance changes
  CHANGELOG.md
  xrpl/transaction/balance_changes.go
  xrpl/transaction/balance_changes_test.go
  xrpl/transaction/transaction_metadata.go
Labels: feature, xrpl

#113 Add the Credential transaction types
  CHANGELOG.md
  binary-codec/definitions/definitions.json
  examples/clients/clients.go
  examples/clients/submission.go
  examples/credential/rpc/main.go
  examples/credential/ws/main.go
  xrpl/ledger-entry-types/credential.go
  xrpl/ledger-entry-types/credential_test.go
  xrpl/ledger-entry-types/ledger_object.go
  xrpl/testutil/integration/runner.go
  xrpl/transaction/credential_accept.go
  xrpl/transaction/credential_accept_test.go
  xrpl/transaction/credential_create.go
  xrpl/transaction/credential_create_test.go
  xrpl/transaction/credential_delete.go
  xrpl/transaction/credential_delete_test.go
  xrpl/transaction/errors.go
  xrpl/transaction/integration/credential/credential_create_test.go
  xrpl/transaction/results.go
  xrpl/transaction/results_test.go
  xrpl/transaction/tx_type.go
  xrpl/transaction/types/credential_type.go
  xrpl/transaction/types/credential_type_test.go
Labels: feature, xrpl

#119 [TA-4223]: Amounts transcoding fix
  pkg/big-decimal/big_decimal.go
  pkg/big-decimal/big_decimal_test.go
Labels: bug

#125 [TA-4202] Add transaction result codes
  CHANGELOG.md
  Dockerfile
  xrpl/testutil/integration/runner.go
  xrpl/transaction/results.go
  xrpl/transaction/results_test.go
Labels: feature, xrpl

#127 fix(big-decimal): adjust big.Float precision
  CHANGELOG.md
  pkg/big-decimal/big_decimal.go
Labels: bug, pkg:big-decimal

#130 [TA-4326]: Uint8 codec type decodes zero value
  CHANGELOG.md
  binary-codec/types/uint8.go
Labels: bug, binary-codec
